@media only screen and (max-width: 1680px) {

	.bluebox h3 { margin-left: 18%; }
	.line-below { margin-left: 18%; }

}


@media only screen and (max-width: 1366px) {

	#header { width: 1100px; }
	.bluebox { width: 860px; }
	.flow-item1, #flow-item2, #flow-item3, #flow-item4, #flow-item5, #flow-item1 { width: 500px; }
	.benefits-text { width: 280px; }
	.bluebox h3 { margin-left: 12%; }
	.line-below { margin-left: 12%; }
}


@media only screen and (max-width: 1200px) {

	#header { width: 1000px; }
		#building, #whitepaper-button { text-shadow: 0px 2px 0px rgba( 0, 0, 0, .4); }
	.flow-item1, #flow-item2, #flow-item3, #flow-item4, #flow-item5, #flow-item1 { width: 400px; }
	.benefits-text { width: 260px; }
	.bluebox h3 { margin-left: 8%; }
	.line-below { margin-left: 8%; }

}

@media only screen and (max-width: 1024px) {

	#header { width: 90%; }

	.benefits-text { width: 235px; }
	.benefits-item { margin: 0 10px; padding: 50px 20px 35px; }

	#lblue-wrapper { padding: 80px 0 90px 0; }
		.blue-content { margin: 0 auto; width: 80%; }
		#lblue-1p, #lblue-2p { font-size: 20px; }

}



@media only screen and (max-width: 910px) {

	#header-wrapper { background-image: url("../img/galaxy-mobile.jpg"); background-position: right; background-size: cover; height: 700px; }
		#connect { display: none; }
		h1 { margin: 60px 0 40px 35px; }

	.bluebox { padding: 30px 0 80px 0; width: 80%; }
	.bluebox1 { top: -80px; }
	.bluebox2 { top: -30px }

	.flow-item1, #flow-item2, #flow-item3, #flow-item4, #flow-item5, #flow-item1 { width: 80%; }
	#building { margin-left: 35px; }
	#whitepaper-button { margin: 40px 0 0 35px; }

	#benefits-wrapper { padding: 60px 0 72px; }
	.benefits-text { margin-left: 200px; margin-top: 0; width: 60%; }
		.benefits-text h4 { text-align: left; margin-top: 0; }
		.benefits-text p { text-align: left; }
	.benefits-item { background-position: 6%; width: 75%; margin: 0 auto 20px auto; padding: 50px; }

	.flow-text p { margin-bottom: 25px; }

	#team-wrapper { padding-top: 100px }

	#lblue-wrapper { padding: 80px 0 90px 0; }
		.blue-content { margin: 0 auto; width: 80%; }
		#lblue-1p, #lblue-2p { font-size: 20px; }
	.benefits-list {
		height: auto;
	}
}


@media only screen and (max-width: 768px) {

	#header-menu { display: none; }
	#brand { margin: 0 auto; }

	h1 { font-size: 40px; width: 450px; }
	#building { font-size: 15px; width: 86%; }
	#header-wrapper { height: 652px; }
	/* MOBILE NAV */
	.btn-show { display: block; background: url(../img/nav.png) no-repeat transparent center; cursor: pointer; width: 36px; height: 26px; top: 0; left: 0;
	        position: fixed; z-index: 10; padding: 35px; }
	    .btn-show:hover { opacity: .8; }
	    .btn-show:active { opacity: 1; }

	    .background-black { display: none; background-color: rgba(0,0,0,.7); position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%;
	    z-index: 9300; }
	    .panel-left { display: block; position: fixed; top: 0px; left: -80%; width: 80%; bottom: 0px; z-index: 9500; background-color: #020211;
	        overflow-y: auto; }
	        .top-head { top: 0px; left: 0px; right: 0px; height: 72px; position: absolute; }
	            .btn-close { display: block; background: url(../img/close.png) no-repeat; height: 27px; width: 27px; top: 32px; left: 35px;
	                cursor: pointer; position: absolute; opacity: 0.6; }
	            .btn-close:hover { opacity: .8; }
	            .btn-close:active { opacity: 1; }
	        .mobile-nav { display: block; top: 100px; left: 5%; width: 90%; bottom: 0px; position: absolute; }
	        .mobile-nav ul { list-style: none; margin: 0; position: relative; float: left; padding-left: 0; width: 100%; overflow-y: auto; }
	        .mobile-nav ul li { cursor: pointer; border-bottom: 1px solid #000; }
	        .mobile-nav ul li a { display: block; color: #fff; font-family: 'poppinsregular'; font-size: 18px; line-height: 9px; text-decoration: none;
	            padding: 30px; letter-spacing: 1px; }
	        .mobile-nav ul li:hover { background-color: #000; }
	        .mobile-nav li a:hover { color: #00FFFF;
	            -webkit-transition: all .3s ease-in-out;
	            -moz-transition: all .3s ease-in-out;
	            -o-transition: all .3s ease-in-out;
	            transition: all .3s ease-in-out; }
	        .mobile-nav li a:active { color: #00E2DC; }

	#footer { background-size: 110px 100px; background-position: 30px; padding-left: 170px; width: 60%; }
	#footer-text p { font-size: 14px; line-height: 1.5; }
	h5 { font-size: 18px; margin-bottom: 15px; }

	#blue-wrapper { padding-top: 80px; height: 280px; }
	#lblue-wrapper { height: 330px; }
	#benefits1, #benefits2, #benefits3 { background-size: 100px; }
	.benefits-item { width: 70%; padding: 35px  }
	.benefits-text { margin-left: 115px; width: 70%; }

	#lblue-1p, #lblue-2p, #lblue-3p { font-size: 18px; }

}

@media only screen and (max-width: 640px)  {

	#content-wrapper { text-align: left; margin: 30px auto; width: 90%; }
		#blue-wrapper { height: 290px; padding-top: 80px; }
		#lblue-wrapper { padding: 60px 0 50px 0; }
		#lblue-1p, #lblue-2p, #lblue-3p { font-size: 16px; }
		#lblue-2p { padding-top: 30px; }

	.flow-item { background-position: left center; background-size: 150px; margin: 50px auto; padding-left: 170px; padding-top: 0; width: 60%; }
		.flow-item1, #flow-item2, #flow-item3, #flow-item4, #flow-item5, #flow-item1 { width: 70%; }

	.width-wrap { margin: 0 auto; width: 100%; }
		.flow-text h3 { font-size: 20px; }
		.flow-text p { font-size: 14px; }

	#flow-item1 .flow-item-bline { left: auto; right: auto; }

	.blue-content h2 { font-size: 25px; }
	#blue-wrapper { height: 260px; }
	#bluep { font-size: 16px; }
	h4 { margin-bottom: 20px;font-size: 20px; }
	.bluebox { width: 100%; }
	.benefits-text p { font-size: 13px; }

	.bluebox h3 { margin-left: 10%; font-size: 22px; letter-spacing: 1px; }
	.line-below { margin-left: 10%; }
	h1 { font-size: 35px; width: 90%; }
	#building { width: 80%; }
}



@media only screen and (max-width: 520px) {

	.bluebox1 { top: -40px; padding: 30px 0 60px 0; }
	#building { margin-left: 0;  border-left: 0;  }
	.width-wrap { width: 80%; }
	.flow-item { background-position: top center; padding-left: 0; margin: 30px auto; width: 80% }
		.flow-item2em1, #flow-item2, #flow-item3, #flow-item4, #flow-item5, #flow-item1 { padding-top: 150px; width: 100%; }

	#binput { width: 90%; margin-bottom: 15px; padding: 12px 0 12px 10%;}
	#binput-send { width: 100%; margin-left: 0; }
	#header-wrapper { height: 700px; }
	#content-wrapper { margin: 70px auto; }
	#lblue-wrapper { padding: 80px 0 100px 0; }
	#blue-wrapper { height: auto; padding: 50px 0 80px 0; }

	.benefits-list li { padding-left: 1em; text-indent: -1em; }

	#footer { background-image: none; padding-left: 0; width: 80%; }
		#footer-text { border-left: none; padding: 0; }

}

@media only screen and (max-width: 380px) {

	.bluebox1 { top: 0; }
}
